*{
  margin: 0px;
  padding: 0px;
}
body{
  line-height: 1.8;
}

.motor{
  width: 30vw;
  height: 30vh;
}

.carPage{
  border: 1px solid black;
  margin: 5%;
  height: 60vh;
  padding: 5%;
  width: 60vw;
}

.addFeatures{
  border: 1px solid black;
  margin: 5%;
  height: 60vh;
  padding: 5%;
  width: 60vw;
}
.carParts{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.carParts p{
  /* padding-left: 7px; */

}
.carParts button{
  padding: 0.25em 0.75em;
  transition: all 0.25s ease-in;
  background: hotpink;
  margin-right: 1em;
  color: white;
  cursor: pointer;
  /* width: 10vw; */
}